h1, h2{
	text-align: center;
	color:black;
	background-image:url(../img/notebook.png);
	border:2px black solid;
	margin-left:150px;
	margin-right:150px;
	padding-top:8px;
	padding-bottom:8px;
	margin-bottom:45px;
	}
	
body{
	background-image: url(../img/binding_dark.png);
	}
ul {
	text-align: center;
}
li {
	text-align:center;
}